.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: -10px;
}
.body {
  display: grid;
  place-items: center;
}
.game-container {
  width: 12rem;
  height: 14rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  box-sizing: border-box;
}

.square-row-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  height: 160%;
}

.square {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 2px solid rgb(3, 0, 0);
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.keyboard-row {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.letter {
  background-color: rgb(75, 75, 75);
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  width: -2%;
  height: 2%;
  border-radius: 0.5rem;
  margin: 0.3rem;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 2.3rem;
}
