.header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: -10px;
}

.body {
  display: grid;
  place-items: center;
}

#game {
  position: relative;
  z-index: 1;
}

.popup {
  display: none;
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid rgb(134, 134, 134);
  z-index: 2;
  text-align: center;
  align-items: center;
}

.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.game-container {
  width: 12rem;
  height: 14rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  box-sizing: border-box;
}

.square-row-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  height: 86%;
  justify-content: center;
}

.square {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px solid rgb(189, 189, 189);
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square > span {
  position: absolute;
  font-size: 0.3rem;
  transform: scale(3.5);
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.keyboard-row {
  display: flex;
  margin: 0 auto;
}

.key {
  background-color: rgb(75, 75, 75);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
  border-color: gray;
  margin-left: auto;
  border: 2px solid black;
}
.key > span {
  display: flex;
  font-size: 0.3rem;
  transform: scale(3.5);
  flex: 1;
}

/* Animations */
.key.vibrate {
  animation: horizontal-shaking 0.1s 1 forwards;
}

.square.pulse {
  animation: pulse 0.3s 1 forwards;
}

.appear {
  animation: appear 0.5s forwards;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25rem);
  }
  50% {
    transform: scale(0.5rem);
  }
  75% {
    transform: scale(0.75rem);
  }
  100% {
    transform: scale(1rem);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
